:root {
    --negro: #080808;
    --negro2: #101010;
    --negro3: #181818;
    --dorado: #d7b65d;
    --dorado-claro: #f0d58b;
    --blanco: #f4f1e9;
    --gris: #99978f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--negro);
    color: var(--blanco);
    font-family: "DM Sans", sans-serif;
    overflow-x: hidden;
}

a {
    color: inherit;
}

button {
    font-family: inherit;
}

/* ANUNCIO */

.anuncio {
    height: 32px;
    background: var(--dorado);
    color: #080808;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 600;
}

/* HEADER */

header {
    height: 85px;
    width: 100%;
    padding: 0 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 32px;
    left: 0;
    z-index: 1000;
    transition: .4s;
}

header.scrolled {
    top: 0;
    height: 72px;
    background: rgba(8,8,8,.92);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid #242424;
}

.logo {
    text-decoration: none;
    color: var(--dorado);
    font-size: 24px;
    letter-spacing: 6px;
    font-weight: 600;
    line-height: 13px;
}

.logo small {
    display: block;
    font-size: 7px;
    letter-spacing: 7px;
    text-align: center;
    margin-top: 8px;
}

nav {
    display: flex;
    gap: 38px;
}

nav a {
    text-decoration: none;
    font-size: 12px;
    color: #ddd;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 1px;
    background: var(--dorado);
    transition: .3s;
}

nav a:hover::after {
    width: 100%;
}

.btn-carrito {
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 11px;
}

.btn-carrito span {
    margin-left: 8px;
    background: var(--dorado);
    color: #000;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* HERO */

.hero {
    height: 100vh;
    min-height: 720px;
    padding: 170px 8% 80px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    background:
        radial-gradient(circle at 75% 45%, #292216 0%, transparent 26%),
        linear-gradient(120deg, #070707 35%, #111 100%);
}

.hero-contenido {
    width: 65%;
    position: relative;
    z-index: 5;
}

.mini {
    color: var(--dorado);
    font-size: 10px;
    letter-spacing: 4px;
    font-weight: 600;
    margin-bottom: 25px;
}

.titulo-hero {
    font-family: "Playfair Display", serif;
    font-size: clamp(65px, 8vw, 125px);
    font-weight: 600;
    line-height: .86;
    letter-spacing: -5px;
    max-width: 1050px;
}

.titulo-hero span {
    display: block;
    color: var(--dorado);
    font-style: italic;
}

.hero-descripcion {
    margin-top: 40px;
    color: #aaa;
    max-width: 500px;
    font-size: 15px;
    line-height: 1.8;
}

.hero-botones {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-top: 40px;
}

.btn-dorado {
    display: inline-flex;
    align-items: center;
    gap: 35px;
    background: var(--dorado);
    color: #090909;
    padding: 18px 25px;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .35s;
}

.btn-dorado:hover {
    background: var(--dorado-claro);
    transform: translateY(-4px);
    box-shadow: 0 15px 50px rgba(215,182,93,.15);
}

.btn-link {
    color: #bbb;
    text-decoration: none;
    font-size: 12px;
    transition: .3s;
}

.btn-link:hover {
    color: var(--dorado);
}

.hero-decoracion {
    position: absolute;
    right: 8%;
    top: 20%;
    width: 30%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo {
    position: absolute;
    width: 480px;
    height: 480px;
    border: 1px solid rgba(215,182,93,.2);
    border-radius: 50%;
    animation: respirar 5s ease-in-out infinite;
}

.botella {
    width: 180px;
    height: 330px;
    border: 1px solid rgba(215,182,93,.6);
    background:
        linear-gradient(135deg,
        rgba(215,182,93,.2),
        rgba(0,0,0,.7));
    box-shadow: 0 50px 100px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dorado);
    font-family: "Playfair Display";
    font-size: 80px;
    animation: flotar 5s ease-in-out infinite;
    backdrop-filter: blur(5px);
}

.hero-luz {
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
    pointer-events: none;
}

.luz-1 {
    width: 400px;
    height: 400px;
    background: rgba(215,182,93,.08);
    right: 5%;
    top: 20%;
}

.luz-2 {
    width: 300px;
    height: 300px;
    background: rgba(215,182,93,.05);
    left: 20%;
    bottom: -150px;
}

.scroll {
    position: absolute;
    bottom: 35px;
    left: 8%;
    color: #666;
    letter-spacing: 3px;
    font-size: 8px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.scroll span {
    display: block;
    width: 45px;
    height: 1px;
    background: #555;
}

/* MARQUESINA */

.marquesina {
    background: var(--dorado);
    color: #090909;
    overflow: hidden;
    padding: 17px 0;
}

.marquesina-contenido {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 45px;
    animation: marquesina 25s linear infinite;
    font-size: 11px;
    letter-spacing: 3px;
}

/* INTRO */

.intro {
    padding: 160px 8%;
    text-align: center;
}

.intro h2 {
    font-family: "Playfair Display", serif;
    font-size: clamp(45px, 6vw, 90px);
    line-height: 1;
    max-width: 1100px;
    margin: auto;
}

.intro h2 span {
    color: var(--dorado);
    font-style: italic;
}

/* CATEGORÍAS */

.categorias {
    padding: 0 6% 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.categoria {
    min-height: 520px;
    padding: 40px;
    border: 1px solid #242424;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    background:
        radial-gradient(circle at 50% 20%, #262015, transparent 35%),
        #101010;
    transition: .5s;
}

.categoria:nth-child(2) {
    background:
        radial-gradient(circle at 50% 20%, #252525, transparent 35%),
        #101010;
}

.categoria:hover {
    transform: translateY(-12px);
    border-color: rgba(215,182,93,.5);
    z-index: 5;
}

.categoria::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 250%;
    background: rgba(255,255,255,.04);
    transform: rotate(25deg);
    top: -70%;
    left: -150px;
    transition: 1s;
}

.categoria:hover::after {
    left: 130%;
}

.numero {
    position: absolute;
    top: 30px;
    right: 35px;
    color: rgba(215,182,93,.2);
    font-size: 65px;
    font-family: "Playfair Display";
}

.categoria p {
    color: var(--dorado);
    font-size: 9px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.categoria h3 {
    font-family: "Playfair Display";
    font-size: 48px;
    line-height: .95;
    margin-bottom: 30px;
}

.categoria a {
    color: #aaa;
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 2px;
}

/* CATÁLOGO */

.catalogo,
.proximamente {
    padding: 130px 6%;
    background: #0c0c0c;
}

.encabezado-seccion {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.encabezado-seccion h2 {
    font-family: "Playfair Display";
    font-size: clamp(45px, 5vw, 75px);
    max-width: 700px;
    line-height: 1;
}

.encabezado-seccion > p {
    color: #777;
    max-width: 270px;
    line-height: 1.7;
}

.filtros {
    display: flex;
    gap: 10px;
    margin-bottom: 35px;
}

.filtro {
    padding: 12px 18px;
    background: transparent;
    border: 1px solid #292929;
    color: #777;
    cursor: pointer;
    font-size: 9px;
    letter-spacing: 1px;
    transition: .3s;
}

.filtro.activo,
.filtro:hover {
    border-color: var(--dorado);
    color: var(--dorado);
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}

.producto {
    background: #111;
    transition: opacity .4s, transform .5s;
}

.producto.oculto {
    display: none;
}

.producto-imagen {
    height: 440px;
    background:
        radial-gradient(circle, #272117, #151515 55%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.perfume-placeholder {
    width: 130px;
    height: 250px;
    border-radius: 40px 40px 15px 15px;
    border: 1px solid #d8c7a1;
    background: linear-gradient(145deg,#d8c7a1,#6b5b45);
    color: #201a12;
    font-family: "Playfair Display";
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 30px 60px #000;
    transition: .6s cubic-bezier(.2,.8,.2,1);
}

.perfume-placeholder.arabe {
    border-radius: 5px;
    background: linear-gradient(145deg,#1a1a1a,#9a7c37);
    color: var(--dorado);
}

.producto:hover .perfume-placeholder {
    transform: translateY(-15px) scale(1.07) rotate(-2deg);
}

.etiqueta {
    position: absolute;
    top: 20px;
    left: 20px;
    background: var(--dorado);
    color: #000;
    padding: 8px 10px;
    font-size: 8px;
    letter-spacing: 1px;
}

.producto-info {
    padding: 25px;
}

.producto-info > p {
    color: #777;
    font-size: 8px;
    letter-spacing: 2px;
    margin-bottom: 9px;
}

.producto-info h3 {
    font-family: "Playfair Display";
    font-size: 24px;
}

.precio {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.precio span {
    color: var(--dorado);
}

.precio button {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #555;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: .3s;
}

.precio button:hover {
    background: var(--dorado);
    color: black;
    border-color: var(--dorado);
    transform: rotate(90deg);
}

/* SOLICITUD */

.solicitud {
    padding: 150px 8%;
    background:
        radial-gradient(circle at 20% 40%, #2c2518, transparent 30%),
        #090909;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.solicitud h2 {
    font-family: "Playfair Display";
    font-size: clamp(55px, 6vw, 90px);
    line-height: .95;
}

.solicitud h2 span {
    display: block;
    color: var(--dorado);
    font-style: italic;
}

.descripcion {
    color: #888;
    max-width: 450px;
    line-height: 1.8;
    margin: 30px 0;
}

.paso {
    border-top: 1px solid #333;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 60px 1fr 1fr;
    align-items: center;
}

.paso span {
    color: var(--dorado);
    font-size: 11px;
}

.paso h3 {
    font-family: "Playfair Display";
    font-size: 25px;
}

.paso p {
    color: #777;
    font-size: 12px;
    line-height: 1.6;
}

/* PRÓXIMAMENTE */

.proximamente {
    background: #0f0f0f;
}

.proximos-grid {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 5px;
}

.proximo {
    height: 600px;
    padding: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid #242424;
}

.proximo-fondo {
    position: absolute;
    inset: 0;
    transition: 1s;
}

.proximo-fondo.uno {
    background:
        radial-gradient(circle at 50% 45%, rgba(215,182,93,.25), transparent 20%),
        linear-gradient(145deg,#161616,#080808);
}

.proximo-fondo.dos {
    background:
        radial-gradient(circle at 50% 40%, rgba(255,255,255,.12), transparent 22%),
        linear-gradient(145deg,#181818,#080808);
}

.proximo:hover .proximo-fondo {
    transform: scale(1.08);
}

.proximo > span,
.proximo > div:last-child {
    position: relative;
    z-index: 2;
}

.proximo > span {
    align-self: flex-start;
    border: 1px solid #777;
    padding: 8px 12px;
    font-size: 8px;
    letter-spacing: 2px;
}

.proximo p {
    color: var(--dorado);
    letter-spacing: 3px;
    font-size: 9px;
    margin-bottom: 15px;
}

.proximo h3 {
    font-family: "Playfair Display";
    font-size: 45px;
    max-width: 500px;
}

/* BENEFICIOS */

.beneficios {
    padding: 140px 8%;
}

.beneficio {
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
    border-top: 1px solid #292929;
    padding: 35px 0;
    align-items: center;
}

.beneficio span {
    color: var(--dorado);
    font-size: 10px;
}

.beneficio h3 {
    font-family: "Playfair Display";
    font-size: 30px;
}

.beneficio p {
    color: #777;
    max-width: 380px;
    line-height: 1.7;
}

/* FOOTER */

footer {
    padding: 100px 6% 35px;
    background: var(--dorado);
    color: #080808;
}

.footer-logo {
    font-size: clamp(75px, 16vw, 240px);
    letter-spacing: -10px;
    font-weight: 600;
    line-height: .8;
}

.footer-abajo {
    margin-top: 70px;
    padding-top: 25px;
    border-top: 1px solid rgba(0,0,0,.3);
    display: flex;
    justify-content: space-between;
    font-size: 9px;
    letter-spacing: 2px;
}

/* CARRITO */

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.7);
    backdrop-filter: blur(5px);
    z-index: 1998;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.overlay.abierto {
    opacity: 1;
    visibility: visible;
}

.carrito-panel {
    position: fixed;
    right: -520px;
    top: 0;
    width: min(500px, 100%);
    height: 100vh;
    background: #111;
    z-index: 1999;
    padding: 40px;
    display: flex;
    flex-direction: column;
    transition: .55s cubic-bezier(.77,0,.18,1);
}

.carrito-panel.abierto {
    right: 0;
}

.carrito-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #292929;
    padding-bottom: 25px;
}

.carrito-header h2 {
    font-family: "Playfair Display";
    font-size: 40px;
}

.carrito-header button {
    border: 0;
    background: transparent;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.carrito-items {
    flex: 1;
    overflow-y: auto;
    padding: 25px 0;
}

.vacio {
    color: #666;
}

.item-carrito {
    padding: 20px 0;
    border-bottom: 1px solid #292929;
    display: flex;
    justify-content: space-between;
}

.item-carrito h4 {
    font-family: "Playfair Display";
    font-size: 20px;
}

.item-carrito p {
    color: var(--dorado);
    margin-top: 5px;
}

.item-carrito button {
    background: none;
    border: none;
    color: #777;
    cursor: pointer;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.subtotal span {
    font-size: 10px;
    letter-spacing: 2px;
}

.subtotal strong {
    color: var(--dorado);
}

.whatsapp {
    width: 100%;
    padding: 18px;
    border: 0;
    background: var(--dorado);
    color: #080808;
    cursor: pointer;
    font-weight: 600;
}

/* ANIMACIONES */

.revelar {
    opacity: 0;
    transform: translateY(55px);
    transition:
        opacity .9s ease,
        transform .9s cubic-bezier(.2,.8,.2,1);
}

.revelar.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes flotar {
    0%,100% {
        transform: translateY(0) rotate(2deg);
    }
    50% {
        transform: translateY(-25px) rotate(-2deg);
    }
}

@keyframes respirar {
    0%,100% {
        transform: scale(.95);
        opacity: .4;
    }
    50% {
        transform: scale(1.08);
        opacity: 1;
    }
}

@keyframes marquesina {
    to {
        transform: translateX(-50%);
    }
}

/* RESPONSIVE */

@media (max-width: 900px) {

    nav {
        display: none;
    }

    .hero {
        min-height: 750px;
        padding: 160px 7% 80px;
    }

    .hero-contenido {
        width: 100%;
    }

    .titulo-hero {
        font-size: 58px;
        letter-spacing: -3px;
    }

    .hero-decoracion {
        opacity: .25;
        right: -20%;
    }

    .categorias,
    .productos-grid {
        grid-template-columns: 1fr;
    }

    .categoria {
        min-height: 350px;
    }

    .producto-imagen {
        height: 400px;
    }

    .solicitud {
        grid-template-columns: 1fr;
        gap: 70px;
    }

    .proximos-grid {
        grid-template-columns: 1fr;
    }

    .proximo {
        height: 450px;
    }

    .encabezado-seccion {
        display: block;
    }

    .encabezado-seccion > p {
        margin-top: 25px;
    }

    .beneficio {
        grid-template-columns: 40px 1fr;
        gap: 10px;
    }

    .beneficio p {
        grid-column: 2;
        margin-top: 10px;
    }

    .footer-logo {
        letter-spacing: -4px;
    }

    .footer-abajo {
        display: block;
    }

    .footer-abajo p {
        margin-top: 10px;
    }

}
/* ====================================
   PÁGINA CATÁLOGO
==================================== */

.header-catalogo {
    background: rgba(8,8,8,.95);
    backdrop-filter: blur(18px);
    border-bottom: 1px solid #222;
}

.catalogo-portada {
    min-height: 570px;

    padding:
        210px 7%
        100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background:
        radial-gradient(
            circle at 80% 40%,
            rgba(215,182,93,.16),
            transparent 25%
        ),
        #090909;
}

.catalogo-portada h1 {
    font-family:
        "Playfair Display",
        serif;

    font-size:
        clamp(70px, 10vw, 150px);

    line-height: .82;

    letter-spacing: -6px;

    max-width: 1000px;
}

.catalogo-portada h1 span {
    color: var(--dorado);
    font-style: italic;
}

.catalogo-portada > p:last-child {
    margin-top: 45px;

    max-width: 450px;

    color: #777;

    line-height: 1.8;
}


/* ZONA CATÁLOGO */

.zona-catalogo {
    padding: 80px 6% 150px;
    background: #0c0c0c;
}


/* BUSCADOR */

.buscador-contenedor {
    width: 100%;

    border-bottom:
        1px solid #444;

    display: flex;
    align-items: center;

    padding:
        15px 0 25px;

    margin-bottom: 45px;

    transition: .3s;
}

.buscador-contenedor:focus-within {
    border-color:
        var(--dorado);
}

.buscador-contenedor span {
    color: var(--dorado);

    font-size: 30px;

    margin-right: 20px;
}

.buscador-contenedor input {
    width: 100%;

    background: transparent;

    border: 0;
    outline: 0;

    color: white;

    font-family:
        "Playfair Display",
        serif;

    font-size:
        clamp(25px, 4vw, 45px);
}

.buscador-contenedor input::placeholder {
    color: #3e3e3e;
}


/* HERRAMIENTAS */

.catalogo-herramientas {
    display: flex;

    justify-content:
        space-between;

    align-items: center;

    margin-bottom: 45px;
}

#cantidadProductos {
    color: #666;

    font-size: 9px;

    letter-spacing: 2px;
}


/* FAVORITOS */

.producto-imagen .favorito {
    position: absolute;

    right: 18px;
    top: 18px;

    width: 42px;
    height: 42px;

    z-index: 5;

    border-radius: 50%;

    border:
        1px solid rgba(255,255,255,.2);

    background:
        rgba(0,0,0,.25);

    backdrop-filter:
        blur(10px);

    color: white;

    font-size: 21px;

    cursor: pointer;

    transition: .3s;
}

.producto-imagen .favorito:hover {
    border-color:
        var(--dorado);

    color:
        var(--dorado);

    transform:
        scale(1.1);
}

.producto-imagen .favorito.guardado {
    background:
        var(--dorado);

    color: #080808;

    border-color:
        var(--dorado);

    transform:
        scale(1.08);
}


/* SIN RESULTADOS */

.sin-resultados {
    display: none;

    padding: 130px 20px;

    text-align: center;
}

.sin-resultados span {
    color:
        var(--dorado);

    font-size: 25px;
}

.sin-resultados h2 {
    margin-top: 20px;

    font-family:
        "Playfair Display",
        serif;

    font-size:
        clamp(35px, 5vw, 60px);
}

.sin-resultados p {
    color: #777;

    margin-top: 15px;
}


/* ANIMACIÓN AL BUSCAR */

.producto {
    transition:
        opacity .35s ease,
        transform .35s ease;
}


/* CELULAR */

@media (max-width: 900px) {

    .catalogo-portada {
        min-height: 500px;

        padding:
            180px 7%
            70px;
    }

    .catalogo-portada h1 {
        letter-spacing:
            -3px;
    }

    .catalogo-herramientas {
        display: block;
    }

    #cantidadProductos {
        margin-top: 25px;
    }

    .filtros {
        overflow-x: auto;

        padding-bottom: 10px;
    }

    .filtro {
        flex-shrink: 0;
    }

}
/* ===================================
   DETALLE DEL PRODUCTO
=================================== */

.detalle-producto {
    min-height: 100vh;
    padding-top: 117px;

    display: grid;
    grid-template-columns: 1.1fr .9fr;

    background: #090909;
}


/* VISUAL */

.detalle-visual {
    min-height: 780px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    background:
        radial-gradient(
            circle at center,
            #332b1c,
            #111 50%,
            #090909 75%
        );
}


.detalle-circulo {
    position: absolute;

    width: 530px;
    height: 530px;

    border-radius: 50%;

    border:
        1px solid rgba(215,182,93,.25);

    animation:
        respirar 5s ease-in-out infinite;
}


.detalle-botella {
    width: 230px;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;

    border:
        1px solid rgba(215,182,93,.7);

    background:
        linear-gradient(
            145deg,
            #121212,
            #8b7135
        );

    box-shadow:
        0 60px 100px rgba(0,0,0,.8);

    color:
        var(--dorado);

    font-family:
        "Playfair Display";

    font-size: 65px;

    position: relative;

    z-index: 2;

    animation:
        flotar 5s ease-in-out infinite;
}


.detalle-flotante {
    position: absolute;

    bottom: 40px;

    color: #555;

    letter-spacing: 4px;

    font-size: 8px;
}


/* INFORMACIÓN */

.detalle-info {
    padding:
        100px 9%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.volver {
    color: #666;

    text-decoration: none;

    font-size: 9px;

    letter-spacing: 2px;

    margin-bottom: 60px;

    transition: .3s;
}


.volver:hover {
    color:
        var(--dorado);
}


.detalle-info h1 {
    font-family:
        "Playfair Display";

    font-size:
        clamp(65px,7vw,110px);

    line-height: .9;

    letter-spacing: -4px;
}


.estrellas {
    margin-top: 25px;

    color:
        var(--dorado);

    font-size: 11px;

    letter-spacing: 2px;
}


.estrellas span {
    color: #555;

    margin-left: 15px;

    font-size: 8px;
}


.precio-detalle {
    color:
        var(--dorado);

    font-size: 27px;

    margin-top: 35px;
}


.descripcion-detalle {
    max-width: 500px;

    margin-top: 30px;

    color: #888;

    line-height: 1.9;

    font-size: 14px;
}


.estado-producto {
    display: grid;

    grid-template-columns:
        1fr 1fr;

    margin-top: 40px;

    border-top:
        1px solid #292929;

    border-bottom:
        1px solid #292929;
}


.estado-producto > div {
    padding:
        25px 0;
}


.estado-producto span,
.cantidad-producto > span {
    display: block;

    color: #555;

    font-size: 8px;

    letter-spacing: 2px;

    margin-bottom: 9px;
}


.estado-producto strong {
    font-size: 12px;
}


.disponible {
    color:
        var(--dorado);
}


/* CANTIDAD */

.cantidad-producto {
    margin-top: 30px;
}


.selector-cantidad {
    display: flex;

    align-items: center;

    width: 140px;

    border:
        1px solid #333;
}


.selector-cantidad button,
.selector-cantidad strong {
    width: 46px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.selector-cantidad button {
    background:
        transparent;

    border: 0;

    color: white;

    cursor: pointer;

    font-size: 20px;
}


/* BOTÓN */

.agregar-grande {
    width: 100%;

    margin-top: 30px;

    padding: 22px;

    display: flex;

    justify-content:
        space-between;

    border: 0;

    background:
        var(--dorado);

    color: #090909;

    cursor: pointer;

    font-size: 10px;

    letter-spacing: 1px;

    transition: .3s;
}


.agregar-grande:hover {
    background:
        var(--dorado-claro);

    transform:
        translateY(-3px);
}


/* BENEFICIOS */

.beneficios-producto {
    margin-top: 30px;
}


.beneficios-producto div {
    display: flex;

    align-items: center;

    gap: 13px;

    color: #666;

    margin-top: 12px;

    font-size: 11px;
}


.beneficios-producto span {
    color:
        var(--dorado);
}


/* EXPERIENCIA */

.experiencia-producto {
    padding:
        150px 7%;

    background: #0d0d0d;

    text-align: center;
}


.experiencia-producto h2 {
    font-family:
        "Playfair Display";

    font-size:
        clamp(55px,8vw,110px);

    line-height: .9;
}


.experiencia-producto h2 span {
    color:
        var(--dorado);

    font-style: italic;
}


.notas-grid {
    display: grid;

    grid-template-columns:
        repeat(3,1fr);

    margin-top: 100px;
}


.nota {
    padding: 60px 30px;

    border:
        1px solid #292929;
}


.nota > span {
    color: #555;

    font-size: 10px;
}


.nota p {
    margin-top: 70px;

    color:
        var(--dorado);

    font-size: 8px;

    letter-spacing: 3px;
}


.nota h3 {
    margin-top: 10px;

    font-family:
        "Playfair Display";

    font-size: 40px;
}


/* RECOMENDACIONES */

.recomendados {
    padding:
        130px 7%;
}


.recomendados-grid {
    display: grid;

    grid-template-columns:
        repeat(3,1fr);

    gap: 3px;
}


.recomendado {
    min-height: 470px;

    padding: 35px;

    background: #111;

    text-decoration: none;

    display: flex;

    flex-direction: column;

    justify-content: flex-end;

    transition: .5s;
}


.recomendado:hover {
    transform:
        translateY(-10px);

    background:
        #171717;
}


.mini-botella {
    width: 90px;
    height: 170px;

    margin:
        auto auto 60px;

    display: flex;

    align-items: center;

    justify-content: center;

    background:
        linear-gradient(
            145deg,
            #222,
            #947738
        );

    border:
        1px solid var(--dorado);

    color:
        var(--dorado);

    font-family:
        "Playfair Display";

    font-size: 25px;

    transition: .5s;
}


.recomendado:hover
.mini-botella {
    transform:
        translateY(-15px)
        rotate(-3deg);
}


.recomendado p {
    color: #666;

    font-size: 8px;

    letter-spacing: 2px;
}


.recomendado h3 {
    font-family:
        "Playfair Display";

    font-size: 28px;

    margin:
        8px 0 15px;
}


.recomendado > span {
    color:
        var(--dorado);
}


/* CELULAR */

@media(max-width:900px) {

    .detalle-producto {
        grid-template-columns:
            1fr;

        padding-top:
            117px;
    }


    .detalle-visual {
        min-height:
            550px;
    }


    .detalle-circulo {
        width:
            360px;

        height:
            360px;
    }


    .detalle-botella {
        width:
            170px;

        height:
            300px;
    }


    .detalle-info {
        padding:
            70px 7%;
    }


    .volver {
        margin-bottom:
            45px;
    }


    .notas-grid,
    .recomendados-grid {
        grid-template-columns:
            1fr;
    }

}
.nombre-producto {
    color: inherit;
    text-decoration: none;
}

.nombre-producto:hover {
    color: var(--dorado);
}
/* ===================================
   PRÓXIMAMENTE
=================================== */

.proxima-portada {
    min-height: 100vh;

    padding: 190px 8% 100px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    position: relative;
    overflow: hidden;

    background:
        radial-gradient(
            circle at 70% 50%,
            rgba(215,182,93,.17),
            transparent 25%
        ),
        #080808;
}

.proxima-portada h1 {
    font-family: "Playfair Display";
    font-size: clamp(80px,12vw,180px);
    line-height: .78;
    letter-spacing: -8px;
    position: relative;
    z-index: 2;
}

.proxima-portada h1 span {
    display: block;
    color: var(--dorado);
    font-style: italic;
}

.proxima-descripcion {
    max-width: 480px;
    margin: 50px 0 35px;

    color: #888;
    line-height: 1.8;
}

.proxima-luz {
    position: absolute;

    right: -100px;
    top: 20%;

    width: 600px;
    height: 600px;

    border-radius: 50%;

    border:
        1px solid rgba(215,182,93,.13);

    box-shadow:
        0 0 150px rgba(215,182,93,.06);

    animation:
        respirar 6s ease-in-out infinite;
}


/* LLEGADAS */

.llegadas {
    padding: 140px 6%;
    background: #0c0c0c;
}

.llegadas-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3px;
}

.llegada {
    min-height: 650px;

    border: 1px solid #222;

    background: #101010;

    position: relative;

    display: flex;
    flex-direction: column;

    transition: .5s;
}

.llegada:hover {
    transform: translateY(-10px);
    border-color: rgba(215,182,93,.5);
}

.llegada-numero {
    position: absolute;

    top: 25px;
    right: 25px;

    font-family:
        "Playfair Display";

    font-size: 55px;

    color:
        rgba(215,182,93,.13);

    z-index: 3;
}

.llegada-visual {
    height: 390px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    background:
        radial-gradient(
            circle,
            #292216,
            #111 55%
        );
}

.perfume-silueta {
    width: 130px;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: center;

    border:
        1px solid rgba(215,182,93,.4);

    background:
        linear-gradient(
            145deg,
            #111,
            #66522d
        );

    box-shadow:
        0 40px 70px #000;

    color:
        var(--dorado);

    font-family:
        "Playfair Display";

    font-size: 50px;

    filter: blur(4px);

    transition: .7s;
}

.perfume-silueta.rosa {
    background:
        linear-gradient(
            145deg,
            #25191f,
            #89636f
        );
}

.perfume-silueta.oscuro {
    background:
        linear-gradient(
            145deg,
            #080808,
            #40351d
        );
}

.llegada:hover
.perfume-silueta {
    filter: blur(1px);

    transform:
        translateY(-15px)
        rotate(-3deg)
        scale(1.04);
}

.llegada-info {
    flex: 1;

    padding: 30px;
}

.llegada-info > p {
    color:
        var(--dorado);

    font-size: 8px;

    letter-spacing: 3px;
}

.llegada-info h3 {
    margin-top: 12px;

    font-family:
        "Playfair Display";

    font-size: 32px;
}

.estado-llegada {
    display: flex;
    align-items: center;

    gap: 10px;

    margin-top: 25px;

    color: #777;

    font-size: 8px;

    letter-spacing: 2px;
}

.estado-llegada span {
    width: 7px;
    height: 7px;

    background:
        var(--dorado);

    border-radius: 50%;

    box-shadow:
        0 0 12px var(--dorado);

    animation:
        pulsoEstado 1.5s infinite;
}

.llegada-info button {
    margin-top: 30px;

    background: transparent;

    border: 0;

    color: #aaa;

    cursor: pointer;

    font-size: 9px;

    letter-spacing: 2px;

    transition: .3s;
}

.llegada-info button:hover {
    color:
        var(--dorado);

    transform:
        translateX(5px);
}


/* CTA */

.proxima-cta {
    min-height: 650px;

    padding: 120px 8%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    text-align: center;

    background:
        radial-gradient(
            circle,
            #2c2517,
            #080808 55%
        );
}

.proxima-cta h2 {
    font-family:
        "Playfair Display";

    font-size:
        clamp(55px,8vw,110px);

    line-height: .9;
}

.proxima-cta h2 span {
    display: block;

    color:
        var(--dorado);

    font-style: italic;
}

.proxima-cta > p:not(.mini) {
    color: #777;

    margin: 30px 0;

    line-height: 1.7;
}


/* PULSO */

@keyframes pulsoEstado {

    0%,100% {
        opacity: .4;
        transform: scale(.8);
    }

    50% {
        opacity: 1;
        transform: scale(1.3);
    }

}


/* RESPONSIVE */

@media(max-width:900px) {

    .proxima-portada h1 {
        letter-spacing: -4px;
    }

    .llegadas-grid {
        grid-template-columns: 1fr;
    }

    .llegada {
        min-height: 570px;
    }

}
/* ==================================
   NOSOTROS — AROMART SHOP
================================== */

.nosotros-portada {
    min-height: 100vh;
    padding: 190px 8% 110px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    position: relative;
    overflow: hidden;

    background:
        radial-gradient(
            circle at 75% 45%,
            rgba(215,182,93,.15),
            transparent 35%
        ),
        #090909;
}

.nosotros-portada h1 {
    position: relative;
    z-index: 2;

    max-width: 1100px;

    font-family: "Playfair Display", serif;
    font-size: clamp(65px, 9vw, 145px);
    line-height: .95;
    letter-spacing: -5px;
}

.nosotros-portada h1 em,
.historia-texto h2 em,
.valores-titulo h2 em,
.contacto-izquierda h2 em {
    display: block;
    color: var(--dorado);
    font-weight: 400;
}

.nosotros-subtitulo {
    max-width: 510px;
    margin: 38px 0;
    color: #999;
    line-height: 1.9;
}

.nosotros-orbita {
    position: absolute;
    right: -120px;
    top: 20%;

    width: 550px;
    height: 550px;

    border: 1px solid rgba(215,182,93,.25);
    border-radius: 50%;

    box-shadow: 0 0 130px rgba(215,182,93,.08);

    animation: respirar 6s ease-in-out infinite;
}

/* HISTORIA */

.historia-aromart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 760px;
    background: #101010;
}

.historia-visual {
    position: relative;
    min-height: 650px;

    display: flex;
    align-items: center;
    justify-content: center;

    background:
        radial-gradient(circle, #42331c, #0b0b0b 65%);
}

.historia-marco {
    width: min(65%, 390px);
    aspect-ratio: 3 / 4;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(215,182,93,.6);
    box-shadow: 0 45px 100px rgba(0,0,0,.6);

    transform: rotate(-5deg);
    transition: transform .6s;
}

.historia-marco:hover {
    transform: rotate(0deg) scale(1.03);
}

.historia-marco > span {
    font-family: "Playfair Display", serif;
    font-size: 170px;
    color: var(--dorado);
}

.historia-marco p {
    color: var(--dorado);
    font-size: 10px;
    letter-spacing: 5px;
}

.historia-numero {
    position: absolute;
    bottom: 35px;
    left: 35px;

    color: #777;
    font-size: 9px;
    letter-spacing: 3px;
}

.historia-texto {
    padding: 100px 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.historia-texto h2,
.valores-titulo h2,
.contacto-izquierda h2 {
    font-family: "Playfair Display", serif;
    font-size: clamp(48px, 5vw, 85px);
    line-height: 1.05;
    letter-spacing: -2px;
}

.historia-texto > p:not(.mini) {
    margin-top: 24px;
    max-width: 510px;
    color: #999;
    line-height: 1.9;
    font-size: 14px;
}

.historia-enlace {
    width: fit-content;
    margin-top: 40px;
    padding-bottom: 12px;

    border-bottom: 1px solid var(--dorado);

    color: var(--dorado);
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 2px;

    transition: .3s;
}

.historia-enlace:hover {
    letter-spacing: 3px;
}

/* VALORES */

.valores-aromart {
    padding: 145px 7%;
    background: #090909;
}

.valores-titulo {
    margin-bottom: 65px;
}

.valores-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}

.valor {
    min-height: 340px;
    padding: 45px;

    border: 1px solid #292929;
    background: #111;

    transition: .4s;
}

.valor:hover {
    background: #181612;
    border-color: rgba(215,182,93,.55);
    transform: translateY(-8px);
}

.valor > span {
    color: var(--dorado);
    font-size: 12px;
}

.valor h3 {
    margin-top: 100px;
    font-family: "Playfair Display", serif;
    font-size: 36px;
}

.valor p {
    margin-top: 15px;
    color: #888;
    line-height: 1.8;
    font-size: 13px;
}

/* CONTACTO */

.contacto-aromart {
    display: grid;
    grid-template-columns: 1.1fr .9fr;

    background:
        radial-gradient(
            circle at 15% 50%,
            rgba(215,182,93,.1),
            transparent 40%
        ),
        #101010;
}

.contacto-izquierda {
    padding: 140px 10%;
}

.contacto-izquierda > p:not(.mini) {
    max-width: 420px;
    margin: 30px 0;
    color: #999;
    line-height: 1.9;
}

.contacto-derecha {
    padding: 110px 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto-dato {
    padding: 35px 0;
    border-bottom: 1px solid #333;
}

.contacto-dato > span {
    color: var(--dorado);
    font-size: 9px;
    letter-spacing: 2px;
}

.contacto-dato h3 {
    margin-top: 15px;
    font-family: "Playfair Display", serif;
    font-size: 29px;
}

.contacto-dato p {
    margin-top: 8px;
    color: #777;
    font-size: 13px;
}

/* CELULAR */

@media (max-width: 900px) {
    .nosotros-portada h1 {
        letter-spacing: -3px;
    }

    .nosotros-orbita {
        width: 350px;
        height: 350px;
        right: -180px;
    }

    .historia-aromart,
    .contacto-aromart {
        grid-template-columns: 1fr;
    }

    .historia-visual {
        min-height: 500px;
    }

    .historia-texto,
    .contacto-izquierda,
    .contacto-derecha {
        padding: 80px 7%;
    }

    .valores-grid {
        grid-template-columns: 1fr;
    }

    .valor {
        min-height: 260px;
    }

    .valor h3 {
        margin-top: 60px;
    }
}
/* ==================================
   MENÚ MÓVIL AROMART
================================== */

.menu-movil-btn {
    display: none;
    background: transparent;
    border: 0;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.menu-movil {
    position: fixed;
    inset: 0;
    z-index: 9999;

    padding: 35px 7%;

    background:
        radial-gradient(
            circle at 80% 20%,
            rgba(215,182,93,.15),
            transparent 30%
        ),
        #080808;

    display: flex;
    flex-direction: column;

    transform: translateX(100%);
    transition:
        transform .65s cubic-bezier(.77,0,.18,1);
}

.menu-movil.abierto {
    transform: translateX(0);
}

.menu-movil > p {
    color: var(--dorado);
    font-size: 10px;
    letter-spacing: 4px;
}

.cerrar-menu {
    position: absolute;
    top: 25px;
    right: 7%;

    border: 0;
    background: transparent;

    color: white;
    font-size: 42px;
    font-weight: 200;

    cursor: pointer;

    transition: .3s;
}

.cerrar-menu:hover {
    color: var(--dorado);
    transform: rotate(90deg);
}

.menu-movil nav {
    margin: auto 0;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
}

.menu-movil nav a {
    position: relative;

    color: white;
    text-decoration: none;

    font-family:
        "Playfair Display",
        serif;

    font-size:
        clamp(45px, 12vw, 80px);

    line-height: 1.15;

    transition:
        color .3s,
        transform .3s;
}

.menu-movil nav a:hover {
    color: var(--dorado);
    transform: translateX(12px);
}

.menu-movil nav a::after {
    content: "↗";

    margin-left: 15px;

    font-family: "DM Sans";
    font-size: 14px;

    color: var(--dorado);

    opacity: 0;

    transition: .3s;
}

.menu-movil nav a:hover::after {
    opacity: 1;
}

.menu-movil-abajo {
    display: flex;
    justify-content: space-between;

    padding-top: 25px;

    border-top:
        1px solid #292929;

    color: #555;

    font-size: 8px;

    letter-spacing: 2px;
}


/* CELULAR */

@media(max-width:900px) {

    header > nav {
        display: none;
    }

    .menu-movil-btn {
        display: block;
        margin-left: auto;
        margin-right: 18px;
    }

    .btn-carrito {
        display: block;
    }

    .menu-movil nav {
        display: flex;
    }

    .menu-movil-abajo {
        flex-direction: column;
        gap: 10px;
    }

}


/* BLOQUEAR SCROLL CUANDO MENÚ ESTÁ ABIERTO */

body.menu-abierto {
    overflow: hidden;
}


/* PRODUCTOS REALES AROMART */
.producto-foto {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 28px;
    transition: transform .6s cubic-bezier(.2,.8,.2,1), filter .4s;
}
.producto:hover .producto-foto { transform: translateY(-8px) scale(1.045); }
.producto.agotado .producto-foto { filter: grayscale(.45) brightness(.68); }
.etiqueta-agotado { background: #242424; color: #aaa; }
.btn-agotado {
    width: auto !important; min-width: 78px; padding: 0 10px !important;
    font-size: 8px !important; letter-spacing: 1px; border-radius: 0 !important;
}
@media (max-width: 600px) { .producto-foto { padding: 18px; } }

/* ===== AROMART FINAL POLISH ===== */
.ver-catalogo-completo{display:flex;justify-content:center;margin-top:42px}.producto-foto{width:100%;height:100%;object-fit:contain;display:block}.producto-imagen{overflow:hidden}.crema-card{background:radial-gradient(circle at 50% 35%,#f4e4cf,#b98754 70%,#2b1b12);color:#fff}.producto.agotado{opacity:.86}.producto.oculto{display:none!important}.filtro{white-space:nowrap}.catalogo-herramientas{gap:20px}.buscador-contenedor input{width:100%}@media(max-width:700px){.catalogo-herramientas{align-items:flex-start}.filtros{overflow-x:auto;width:100%;padding-bottom:8px}.productos-grid{grid-template-columns:repeat(2,minmax(0,1fr));gap:12px}.producto-info{padding:16px 12px}.producto-info h3{font-size:16px}.precio{gap:8px}.precio span{font-size:14px}.producto-imagen{min-height:230px}.ver-catalogo-completo{margin-top:28px}}@media(max-width:420px){.producto-imagen{min-height:190px}}
